#body-container {
  height: fit-content;
  max-width: 1440px;
  margin: 60px auto 0 auto;
  margin-bottom: 100px;
}
.body-content > .header-body-content > h1 > .sub-title {
  color: var(--primary-color);
}
.body-content > .header-body-content > h1 {
  font-weight: 400;
  font-size: 3rem;
}
.first-content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.first-content > .content-child {
  width: 240px;
  padding: 20px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.first-content > .content-child > .text-image {
  text-align: center;
  font-size: 20px;
}

.seccond-body-content {
  margin-top: 80px;
}

.third-body-content {
  margin-top: 80px;
}

.seccond-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  margin-top: 27px;
  cursor: pointer;
}
.seccond-content > .content-child {
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  width: 400px;
  padding: 16px;
}
.seccond-content > .content-child > .content-child-image {
  height: 250px;
}
.seccond-content > .content-child > .content-child-image > img {
  width: 100%;
  height: 100%;
}

.seccond-content > .content-child > .text-image {
  margin-top: 15px;
  font-weight: 500;
}

.third-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 30px;
}
.third-content .content-child {
  height: 170px;
  width: 252px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 16px;
  background-color: rgb(0 0 0 / var(--bg-opacity-5));
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.third-content .content-child .content-child-image img {
  height: 40px;
}

.third-content .content-child:hover {
  background-color: rgb(0 167 255 / var(--bg-opacity));
  color: white;
}

.third-content .content-child .text-image {
  font-size: 20px;
}
.third-content .content-child .content-child-image img {
  color: white;
}

.third-content .content-child:hover > .content-child-image > img {
  filter: invert(100%);
}
