#body-container {
  height: fit-content;
  max-width: 1440px;
  margin: 60px auto 0 auto;
}
.body-content > .header-body-content > h1 > .sub-title {
  color: var(--primary-color);
}
.body-content > .header-body-content > h1 {
  font-weight: 400;
  font-size: 3rem;
}
.first-content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.first-content > .content-child {
  width: 240px;
  padding: 20px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.first-content > .content-child > .text-image {
  text-align: center;
  font-size: 20px;
}
