* {
  margin: 0;
  padding: 0;
}
* {
  --font-poppins: "__poppins_f49464", "__poppins_Fallback_f49464";
  font-family: var(--font-poppins), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

#top-page {
  height: 750px;
}


